* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inria Sans', sans-serif;
    overflow-x: hidden
}

/* main color */

.main-bg-color {
    background-color: #5BB1AC;
}

.text-white {
    color: #FFFFFF
}

.text-main-color {
    color: #5BB1AC;
}

.Login-master-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    min-width: 400px;
    width: 1400px;
    max-width: 1400px;
    height: 900px;
    box-shadow: 0px 6px 21px 4px rgba(0,0,0,0.2);
    display: inline-block;
    border-radius: 36px;
    white-space : nowrap;
    overflow : hidden;
    background: rgb(112,255,198);
    background: linear-gradient(45deg, rgba(112,255,198,0.3393732492997199) 0%, rgba(91,177,172,1) 27%, rgba(91,177,172,1) 79%, rgba(112,255,198,0.4542191876750701) 100%);
}

.all-form {
    display: inline-block;
    height: 900px;
    white-space : nowrap;
    overflow : hidden;
    left: 0px;
    transition: all 1s ease-in-out;
    transition-delay: 0.5s;
    position: relative;
}

.all-form-move-left {
    left: -820px;
}

.header {
    font-size: 64px;
    font-weight: bold;
}

.signup-container {
    height: 900px;
    position: relative;
    display: inline-block;
    min-width: 400px;
    width: 580px;
    max-width: 580px;
    border-radius: 36px 0 0 36px;
    padding: 5rem;
    z-index: 5;
}


.signup-description {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 3rem;
}

.signup-element {
    position: relative;
    bottom: 2rem;
    margin: 13rem 0;
    white-space: normal;
}


.d-btn {
    width: 270px;
    height: 75px;
    border-radius: 70px;
    cursor: pointer;
}

.primary-bd {
    border: none;
    background-color: #5BB1AC;
}

.white-bd {
    border: 8px solid white;
    background-color: transparent;
}

.form-container {
    height: 100%;
    width: 820px;
    background-color: white;
    border-radius: 0 36px 36px 0;
    padding: 0 5rem;
    display: inline-block;
    position: relative;
    transition: all 1.5s ease-in-out;
}


.signin-element{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
    position: relative;
    bottom: 2.5rem;
    right: 0;
    margin: 15rem 0;
}

.input-login {
    width: 510px;
    height: 83px;
    padding-left: 2rem;
    border-radius: 15px;
    border: 3px solid #5BB1AC;
    font-size: 1.5rem;
}

.forget-password{
    font-size: 1.1rem;
    color: #5BB1AC;
    padding-right: 8px;
    cursor: pointer;
}

.form-signup-container {
    height: 100%;
    width: 820px;
    position: relative;
    background-color: white;
    border-radius: 36px 0 0 36px;
    padding: 0 5rem;
    display: inline-block;
    transition: all 1s ease-in;
    /* transition-delay: 3s; */
}